<html>

<head>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Tamás Gaál (Udemy course) It uses data from Mapbox and Weatherstack.com or darksky.net. I can't remember</p>
    <img class="portrait" src="/img/pic1.jpg">

  </div>
  {{>footer}}
</body>

</html>